{% extends "base.html" %}
{% block content %}
<h1 style="margin-bottom: 20px;">Pesquisar Trabalhador</h1>
<form action="/buscar" method="get">
    <div class="form-group">
        <input type="text" name="nome" class="form-control" placeholder="Digite o nome ou CPF" required>
    </div>
   <div class="d-flex flex-column align-items-start gap-2 mt-4">
                <button type="submit" class="btn btn-primary">Buscar</button>
                <a href="/cadastrar" class="btn btn-success">Cadastrar Novo Trabalhador</a>
            </div>
</form>


{% endblock %}
